html{
    scroll-behavior: smooth;
    
}
h1{
    line-height: 1.3;
}
.line-height-text{
    line-height: 1.7;
}
#uppArrow {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
   
    border:none;
    outline: none;
   
    
    cursor: pointer;
  
   
  }
  .fa-arrow-up {
      color:#0e0e0e;
      opacity: 0.5;
     
      
  }

/* Backgrounds / Images */

.bg-header {
    background: url("images/Group\ 4510.png");
    min-height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: bottom;
   
}
.bg-cart {
    background-image: url("images/Layer\ 815.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
.bg-blue {
    background-image: url("images/Bg.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.featureimg{
    background: url("images/Component\ 1\ –\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
    }

.blue-bg2 {
     background-image: url("images/bg-footer.png");
    width: 100%;
     background-repeat: no-repeat;
     background-position: center;
    }
    
.bild{
    width: 100%; 
}

/* Text colors*/
.blue-text{
    color: #3096FE;
}
.head-text-color{
    color: #333333;
}
.text{
    color: #8A8A8A;
}



.p-6{
    padding-top: 6rem;
}
.ghostdiv{
    margin-top: 30rem;
}

.aboutus{
    background-color: #ffbb002e;
    color: #FFBB00;
    border-radius: 8px;
   
}
.aboutmargin{
    margin-left: -9em;
}

.bottom-border{
    position: relative;
  }
  
  .bottom-border:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0.3rem;
    left: 10px;
    width: 25px;
    height: 2px;
    background-color: #ffbb00;
  }
 
  .text-heading{
      font-weight: 700;
      font-size: 3.5rem;
  }
  .btn-header{
      border-radius: 10px !important;
      border: 2px solid !important;
      padding: 10px 25px 10px 25px !important;
  }
 

textarea {
    resize: none;
}
.btn-nav{
    padding: 10px 30px 10px 30px !important;
    border-radius: 10px !important;
}

.form-btn {
    padding: 17px 90px 17px 90px!important;
    border-radius: 9px !important;
}
.rem-border {
    border: none !important;
    box-shadow: none !important; /* You may want to include this as bootstrap applies these styles too */
}




.border-icon {
    padding: 1rem 1rem;
    border-radius: 9px;
    background-color: #ffffff1e;
}
.navbar-light span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: white;
 
  }
  .navbar-toggler{
    border: none !important;
  }

  /* SLIDERS 5 PHOTOS*/
  .bg-5{
    background-image: url(/images/iPhone\ X\ -\ Light-Full.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  
    width: 100%;
  
        
  
}
.item{
  padding-top: 15px;
  padding-bottom: 15px;
  


}
.owl-item > div {
    cursor: pointer;
    margin: 15% 8%;
    transition: margin 0.5s ease-out;
   
    
}
.owl-item.center > div{
    cursor: auto;
    margin: 0;
    
    
   
}
.owl-item.active + div + div + div + div{
  opacity: 0.4 !important;


}  


/*MEDIA Q */

@media (max-width: 600px) {
    .text-heading { font-size: 2.25rem !important; }
    .btn-header{
        padding: 10px 15px 10px 15px !important;
    }
    .md-text{
        text-align: left;
    }
 
    h1{
        font-size: 2rem !important;
    }
    h2{
        font-size: 1.5rem !important;
    }
    .text-small{
        font-size: 0.9rem !important;
    }
    .footer-loggo{
        width: 35%;
    }
   
      .bottom-border:after {
        left: -0px;
       }
       .size-home-img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
       }
    .bg-header{
        min-height: 850px;
    }
    
   
}

@media (min-width: 600px) {
    .text-heading { font-size: 2.75rem !important; }
   .md-text{
    text-align: center;
   }
   .bottom-border:after {
    left: -0px !important;
   }
  
}

@media (min-width: 768px) {
    .text-heading { font-size: 3rem !important; }
   .md-text{
    text-align: center;
   }
   .bottom-border:after {
    left: -0px !important;
   }
 
} 

@media (min-width: 992px) {
    .text-heading {
         font-size: 3.25rem !important; 
        }
        .bottom-border:after {
            left: 8px !important;
           }
    
      
   }  
@media (min-width: 1200px) {
    .text-heading {
         font-size: 3rem !important; 
        }
}

